<link rel="stylesheet" href="/sourecode/CSS/checkout.css">

<div class="address-container">
    <a href="#/"><i class="fa-solid fa-house"></i></a>
    <div class="address">
        <a href="#/"> Home </a>/
        <a href="#!cart"> Shopping Cart </a>/
        <a href="#!checkout"> Checkout </a>
    </div>
</div>

<div class="page-first-row">
    <div class="page-title">
        Quick Checkout
        <hr>
    </div>
</div>

<section class="checkout-body">
    <div class="container my-3">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="left col-sm-11">
                        <!-- !Deliver -->
                        <div class="basic-container">
                            <div class="basic-title">
                                Deliver to
                                <hr>
                            </div>
                            <table id="address1-container">
                                <tr>
                                    <td class="radio-col"><input type="radio" name="address-choice"></td>
                                    <td class="deliver-address">
                                        <div class="name-phone">Nguyen Khanh Du | 0901 234 333</div>
                                        <div class="address-detail">590 Cach Mang Thang 8, Ward 11, District 3, HCMC</div>
                                    </td>
                                </tr>
                            </table>
                            <div class="add-address-container">
                                <div class="show-more" ng-click="hideAndShow = !hideAndShow">
                                    <div class="show-text">Ship to another address</div>
                                    <div class="more-less" ng-hide="hideAndShow"><i class="fa-solid fa-chevron-down"></i>More</div>
                                    <div class="more-less" ng-show="hideAndShow"><i class="fa-solid fa-chevron-up"></i>Less</div>
                                </div>
                                <form action="" id="add-address-form" ng-show="hideAndShow">
                                    <table class="add-address-section">
                                        <tr>
                                            <td>
                                                <div class="add-address-title">Name <span style="color: red;">*</span></div>
                                                <div><input type="text" class="form-control"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="add-address-title">Telephone <span style="color: red;">*</span></div>
                                                <div><input type="text" class="form-control"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="add-address-title">Address <span style="color: red;">*</span></div>
                                                <div><input type="text" class="form-control"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="submit" value="Update" class="update-btn">
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                        
                        <!-- !Order -->
                        <div class="basic-container mt-5">
                            <div class="basic-title">
                                <div id="order-title">
                                    <div>
                                        Order
                                        <div id="item-num">2 items</div>
                                    </div>
                                    <a href="#!cart"><div class="show-text" style="padding-top: 0;">Change</div></a>
                                </div>
                                <hr>
                            </div>
                            <table id="order-table">
                                <tr>
                                    <td><img src="../Image/seed1.jpg" alt="seed1" class="order-table-img"></td>
                                    <td class="order-table-product">Watermelon Seeds</td>
                                    <td class="order-table-quantity">x1</td>
                                    <td class="order-table-price">$19.99</td>
                                </tr>
                                <tr>
                                    <td><img src="../Image/walnut.jpg" alt="seed1" class="order-table-img"></td>
                                    <td class="order-table-product">Watermelon Seeds</td>
                                    <td class="order-table-quantity">x1</td>
                                    <td class="order-table-price">$19.99</td>
                                </tr>
                            </table>
                            <hr>
                            <table id="order-total-table">
                                <tr>
                                    <td class="order-total-table-title">Sub-Total: </td>
                                    <td class="order-total-table-content">$79.96</td>
                                </tr>
                                <tr>
                                    <td class="order-total-table-title">Shipping: </td>
                                    <td class="order-total-table-content">$0.00</td>
                                </tr>
                                <tr id="order-total">
                                    <td class="order-total-table-title">Total: </td>
                                    <td class="order-total-table-content" id="order-total-table-total">$79.96</td>
                                </tr>
                            </table>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-8">
                <!-- !Shipping-Payment Method -->
                <div class="basic-container row">
                    <div class="col-sm-6 px-0">
                        <div class="basic-title">
                            Shipping Method
                            <hr>
                        </div>
                        <table id="method-table">
                            <tr>
                                <td class="radio-col"><input type="radio" name="shipping" value="ship-1"></td>
                                <td class="deliver-address">Free shipping (in 5 days) - $0.00</td>
                            </tr>
                            <tr>
                                <td class="radio-col"><input type="radio" name="shipping" value="ship-1"></td>
                                <td class="deliver-address">High Speed delivery (in 48 hours) - $5.69</td>
                            </tr>
                        </table>
                    </div>
                    <div class="payment-col col-sm-6">
                        <div class="basic-title">
                            Payment Method
                            <hr>
                        </div>
                        <table id="method-table">
                            <tr>
                                <td class="radio-col"><input type="radio" name="payment" value="cod" ng-click="showCredit=false"></td>
                                <td class="deliver-address">Cash on Delivery (COD)</td>
                            </tr>
                            <tr>
                                <td class="radio-col"><input type="radio" name="payment" value="card" ng-model="showCredit"></td>
                                <td class="deliver-address">
                                    International Credit/Debit Card
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <img src="../Image/visa.png" alt="visa" width="100%">
                                        </div>
                                        <div class="col-sm-2">
                                            <img src="../Image/mastercard.png" alt="mastercard" width="100%">
                                        </div>
                                        <div class="col-sm-2">
                                            <img src="../Image/JCB.webp" alt="jcb" width="100%">
                                        </div>
                                    </div>
                                    <table id="credit-table" ng-show="showCredit">
                                        <tr>
                                            <td>Card number</td>
                                            <td><input type="text" placeholder="Ex: 4123 4789 8901 2345"></td>
                                        </tr>
                                        <tr>
                                            <td>Card holder</td>
                                            <td><input type="text" placeholder="Ex: NGUYEN KHANH DU"></td>
                                        </tr>
                                        <tr>
                                            <td>Valid dates</td>
                                            <td><input type="text" placeholder="MM/YY" style="width: 40%;"></td>
                                        </tr>
                                        <tr>
                                            <td>PIN</td>
                                            <td><input type="text" placeholder="Ex: 123" style="width: 40%;"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- !Coupon -->
                <div class="basic-container row mt-5">
                    <div class="basic-title">
                        Coupon/Voucher
                        <hr>
                    </div>
                    <div class="col-sm-5" id="coupon-enter">Enter your coupon here</div>
                    <div class="col-sm-5"><input type="text" id="coupon-text" form="coupon-form"></div>
                    <div class="col-sm-2 mb-3"><input type="submit" form="coupon-form" value="Submit" class="coupon-btn" ng-click="showNewAlert = !showNewAlert"></div>

                    <div class="new-green-alert" ng-show="showNewAlert">
                        <div class="row px-0">
                            <div class="new-tick-cross col-sm-1"><i class="fa-solid fa-circle-check"></i></div>
                            <div class="new-message col-sm-10">Success: Your shipping estimate has been applied!</div>
                            <div class="new-xmark col-sm-1"><i class="fa-solid fa-xmark"></i></div>
                        </div>
                    </div>
                    <div class="new-red-alert" ng-hide="showNewAlert">
                        <div class="row px-0">
                            <div class="new-tick-cross col-sm-1"><i class="fa-solid fa-circle-xmark"></i></div>
                            <div class="new-message col-sm-10">Warning: Invalid coupon code!</div>
                            <div class="new-xmark col-sm-1"><i class="fa-solid fa-xmark"></i></div>
                        </div>
                    </div>

                    <!-- <table id="new-alert-table">
                        <tr>
                            <td class="new-tick-cross"><i class="fa-solid fa-circle-check"></i></td>
                            <td class="new-message">Success: Your shipping estimate has been applied!</td>
                            <td class="new-xmark"><i class="fa-solid fa-xmark"></i></td>
                        </tr>
                    </table> -->
                </div>

                <!-- !Confirm Order -->
                <div class="basic-container row mt-5">
                    <div class="basic-title">
                        Confirm Your Order
                        <hr>
                    </div>
                    <label for="deliver-note" id="deliver-note-title">Deliver Note</label>
                    <textarea name="deliver-note" id="deliver-note" cols="5" rows="5"></textarea>
                    <div id="disclaimer-message">
                        <input type="checkbox" ng-model="confirmAbled">
                        I completely agree to MaruDryFruit <span style="text-decoration: underline; color:#0879E1; cursor: pointer;">Delivery Disclaimer</span>.
                    </div>
                    <div class="get-quote-area">
                        <button class="get-quote-btn" ng-disabled="!confirmAbled" ng-click="confirmFinish()">Confirm Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- !bottom-product-slider -->
<section class="product">
    <div class="row">
        <div class="col-sm-12 m-auto pt-5 text-center">
            <h1 style="font-size: 2em;">Featured Products</h1><hr class="product-title">
        </div>
    </div>
    <button class="pre-btn" ng-click="leftScroll()"><i class="fa-solid fa-angle-left"></i></button>
    <button class="nxt-btn" ng-click="rightScroll()"><i class="fa-solid fa-angle-right"></i></button>
    <div class="product-container">
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% Off</span>
                <img src="../Image/seed1.jpg" alt="">
                <button class="card-btn">Add to Wishlist</button>
            </div>
            <div class="product-info">
                <div class="product-short-description">A short line about the product</div>
                <span class="current-price">$20</span>
                <span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% Off</span>
                <img src="../Image/seeds.png" alt="">
                <button class="card-btn">Add to Wishlist</button>
            </div>
            <div class="product-info">
                <div class="product-short-description">A short line about the product</div>
                <span class="current-price">$20</span>
                <span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% Off</span>
                <img src="../Image/nuts.png" alt="">
                <button class="card-btn">Add to Wishlist</button>
            </div>
            <div class="product-info">
                <div class="product-short-description">A short line about the product</div>
                <span class="current-price">$20</span>
                <span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% Off</span>
                <img src="../Image/walnut.jpg" alt="">
                <button class="card-btn">Add to Wishlist</button>
            </div>
            <div class="product-info">
                <div class="product-short-description">A short line about the product</div>
                <span class="current-price">$20</span>
                <span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% Off</span>
                <img src="../Image/dryfruits.png" alt="">
                <button class="card-btn">Add to Wishlist</button>
            </div>
            <div class="product-info">
                <div class="product-short-description">A short line about the product</div>
                <span class="current-price">$20</span>
                <span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% Off</span>
                <img src="../Image/traicaysay.jpg" alt="">
                <button class="card-btn">Add to Wishlist</button>
            </div>
            <div class="product-info">
                <div class="product-short-description">A short line about the product</div>
                <span class="current-price">$20</span>
                <span class="actual-price">$40</span>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag">50% Off</span>
                <img src="../Image/traicaykho.jpg" alt="">
                <button class="card-btn">Add to Wishlist</button>
            </div>
            <div class="product-info">
                <div class="product-short-description">A short line about the product</div>
                <span class="current-price">$20</span>
                <span class="actual-price">$40</span>
            </div>
        </div>
    </div>
</section>